
table {
    width: 30%;
    float: left;
}

table {
    border: 1px solid black;
    margin: 1%;
  }

  td{
      background-color: rgb(231, 220, 220);
      text-align: center;
  }

  button {
      margin: 1%;
    width: 100px;
    height: 10%;

      
  }

  textarea{
      margin: 1%;
      width: 94%;
      height: 100px;    
  }

  span{
      margin: 1%;
      display: block;
  }
